.container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c7f91;
    color: #fff;
    padding: 20px;
}
nav ul {
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

button {
    background-color: #333;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #67b3f0;
}

.nav-link{
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 20px;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #333;
    text-transform: uppercase;
}

.navbar-brand:hover {
    color: #007bff;
}